@font-face {
	font-family: 'SegoePrint';
	src: url('fonts/SegoePrint.woff') format('woff');
}

.App {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(img/grid.png);
  font-family: 'SegoePrint';
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none; 
  user-select: none;   
}

.app-title {
  width: fit-content;
  display: flex;
  margin-left: 366px;
  align-items: center;
  font-size: 30px;
  text-decoration: underline;
  transition: all 1s;
}

.app-title:hover {
  cursor: none;
  color: red;
  transform: rotateY(360deg);
}

.btn-lang,
.lang-en {
  width: 6vmin;
  height: 6vmin; 
  position: absolute;
  top: 2vh;
  right: 3vw;
  background: url('./img/lang_ru.png') no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  transition: all .3s;
}

.lang-en {
  background: url('./img/lang_en.png') no-repeat;
  background-size: contain;
}

.container {
  padding-top: 4px;
  display: flex;
  flex-flow: row nowrap;
}

.war-info {
  width: 788px;
  height: 10%;
  margin: 20px 0 0 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  border: dashed 3px blue;
  border-radius: 5vmax;
  font-size: 24px;
  font-weight: bold;
}

.battlefield {
  display: grid;
  grid-template-areas:
  ". d d d d d d d d d d"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c"
  "l c c c c c c c c c c";
  margin: 2px 65px 30px 33px;
  padding: 0;
  width: 368.5px;
  height: 366px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}

.battlefield--comp {
  margin-left: 28px;
}

.battlefield-pad {
  margin-left: 3px;
  padding: 0;
  display: grid;
  width: 331px;
  height: 330px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-area: c;
  text-align: center;
  border: 2px solid blue;
  box-sizing: border-box;
}

.battlefield-digits {
  display: grid;
  grid-area: d;
}

.battlefield-letters {
  display: grid;
  grid-area: l;
}

.idx {
  width: 30px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.battlefield-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: auto;
  margin-left: 65px;
  grid-area: c;
  font-size: 24px;
  font-weight: bold;
}

.battlefield-menu--title {
  margin: 1rem 0 0 0;
  padding: 0;
}

.battlefield-menu--remark {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.battlefield-menu--list {
  list-style: none;
}

.battlefield-menu--list li {
  width: fit-content;
  transition: all .2s;
}

.battlefield-menu--list li:hover,
.btn-lang:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.battlefield-menu--ships {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

.ship {
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;              
  border: 3px solid blue;
  box-sizing: border-box;
  font-size: 14px;
  background: repeating-linear-gradient(-45deg, #555 0, #555 2px, transparent 1px, transparent 5px);
}

.ship:hover {
  cursor: pointer;
}

.ship-margin {
  width: 33px;
  height: 66px;
}

.shipEl,
.empty,
.deadarea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .7rem;  
}

.shipEl,
.hit {
  border: 2px solid blue;
  background: repeating-linear-gradient(-45deg, #555 0, #555 2px, transparent 1px, transparent 5px);
}

.deadarea {
  background-color: rgba(117, 190, 248, 0.2);
}

.hit {
  border: 2px solid red;
  background: repeating-linear-gradient(-45deg, red 0, red 2px, transparent 1px, transparent 5px);
}

.time-machine--box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 15vmin;
  height: 6vmin;
}

.time-machine--back {
  font-size: 3rem;
  border: none;
  background: none;
  transition: all .5s;
  color: blue;
  outline: none;
}

.time-machine--back:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.turn-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vmin;
  height: 6vmin;  
  border: 3px solid blue;
  border-radius: 50%;
  font-weight: bold;
  transition: all 1s;
}

.turn-counter:hover {
  transform: rotateZ(-360deg);
}

.footer__link {
  position: absolute;
  bottom: 4vh;
  left: 25vw;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 1s;
}

.footer__link:hover {
  transform: scale(1.2);
}